/* BASIC STYLES HERE */
.profile-picture {
  height: 50px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #89cc0d;
  font-weight: bolder;
  font-size: larger;
}

.footer-style {
  background: rgba(0, 0, 0, 0.186); /* Semi-transparent black */
  backdrop-filter: blur(5px); /* Blurred background effect */
  border-radius: 15px; /* Rounded corners */
  padding: 15px 20px;
  text-align: center;
  color: white; /* Ensure text is visible */
  width: 95%;
}
