/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-bottom: 2px solid white;

}

.gift-image{
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
